# Ignore the .env files and any local configuration files
.env
.env.*
*.local

# Ignore build artifacts and dependencies
target/
*.jar
*.war
.mvn/wrapper/maven-wrapper.jar

# Ignore IDE-specific files and directories
.idea/
.vscode/
*.swp
*.iml
.classpath
.project
.settings/

# Ignore version control directories and files
.git
.gitignore

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore resource files
resources/