services:
  database:
    image: postgres:17.5
    restart: always
    volumes:
      - database:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - ${POSTGRES_PORT:-5432}:5432
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    env_file:
      - .env
    ports:
      - ${PORT:-8080}:${PORT:-8080}
    volumes:
      - .:/app
      - ~/.m2:/root/.m2

volumes:
  database:
